.weather {
	color: #fff;
}

.weather__title {
	padding: 10px;
	font-family: roboto-bold;
	font-size: 25px;
}

.weather__description {
	border-bottom: 1px solid #fff;
	padding: 10px 10px 20px 10px;
}

.weather__main {
	padding: 10px;
	font-family: roboto-bold;
	font-size: 25px;
}