.todo-container {
	max-width: 400px;
	max-height: 100vh;
	background-color: #fff
}

.todo-header {
	position: relative;
	width: auto;
	height: 200px;
	padding: 30px;
	background-image: url('../../img/h-back.jpg');
	background-size: cover;
    background-position: center;
	color: #fff;
}

.header-information {
	position: absolute;
	bottom: 20px;
}

.today {
	font-size: 30px;
}
