@import './widgets/Todo/Todo.css';
@import './widgets/Vacancy/Vacancy.css';
@import './widgets/Weather/Weather.css';
@import './widgets/Habr/Habr.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	height: 100vh;
	background-color: #282c34;
	font-family: roboto-regular, sans-serif;
	text-align: center;
}

.main-container {
	position: relative;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 20px;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	justify-items: center;
	padding: 2vh;
}

.downloading {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100%;
}

.downloading-vacancy {
	grid-row-start: 1;
    grid-row-end: 3;
	height: 100vh;
}

.rejected {
	color: #e21b1b;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100%;
}
