.todo {
	width: 400px;
	border: 0;
	border-radius: 20px 20px 0 0;
	overflow: hidden;
	background-color: #fff;
}

/* HEADER */

.todo__header {
	position: relative;
	width: auto;
	height: 200px;
	font-size: 20px;
}


.header-todo__light {
	text-align: right;
	z-index: 2;
}

.header-todo__information {
	position: absolute;
	bottom: 20px;
	text-align: left;
}

.information-todo__text {
	font-family: roboto-bold;
	font-size: 35px;
}

/* dynamic styles */
.morning {
	background-image: url('../../img/morning-mountains.jpg');
	background-size: cover;
    background-position: center;
	color: #282c34;
}

.evening {
	background-image: url('../../img/evening-mountains.jpg');
	background-size: cover;
    background-position: center;
	color: #fff;
}

.evening::before {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #282c34;
	opacity: 0.3;
}

.light {
	width: 2em;
	fill: #fff;
}

.shining {
	fill: #F5F207;
	filter: drop-shadow(0px -15px 10px  #F5F207);
}

/* TASKS */

.tasks {
	height: 60vh;
	overflow: auto;
}

.tasks__empty {
	align-items: center;
	justify-content: center;
	height: 100%;
}


/* TASK */

.tasks__item {
	list-style-type: none;
	margin-bottom: 10px;
}

.round {
	position: relative;
  }
  
  .round label {
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
  }
  
  .round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
  }
  
  .round input[type="checkbox"] {
	visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
	background-color: #66bb6a;
	border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
	opacity: 1;
  }

.checkbox-wrapper {
	min-width: 30px;
	min-height: 30px;
	transition: 1s ease-in;
}

.item-tasks__message {
	align-items: center;
	flex-grow: 2;
}

.item-tasks__remove {
	width: 30px;
	cursor: pointer;
	transition: transform 0.6s ease;
}

.item-tasks__remove:hover {
	transform: scale(1.2);
}

.inactive {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-line: line-through;
	text-decoration-thickness: 0.2rem;
}

/* INPUT */

.input-group {
	border-top: 1px solid #ccc;
	padding: 20px;
}

.footer__input {
	padding: 10px;
	flex-grow: 2;
	border: none;
	outline: none;
}

.footer__btn {
	border: none;
	align-items: center;
}

.btn-footer__icon {
	width: 35px;
	fill: #3384a2;
	cursor: pointer;
}

.btn-footer__icon:hover {
	fill: #66bb6a;
}




